@media (width: 320px) {
    .btn-buypackage{
        font-size: 9px;
    }
}
.mypaper{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding:0px 14px !important;
}
.nextpaper{
    font-family: 'Roboto', sans-serif;
    background-color: #bc4a1e !important;
}
.previewpaper{
    font-family: 'Roboto', sans-serif;
    background-color: #807f7e !important;
}
.divider{
    margin: 10px auto;
    width: 100%;
    height: 1px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(179,141,126,1) 0%, rgba(188,74,30,1) 50%, rgba(179,141,126,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(179,141,126,1) 0%,rgba(188,74,30,1) 50%,rgba(179,141,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(179,141,126,1) 0%,rgba(188,74,30,1) 50%,rgba(179,141,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b38d7e', endColorstr='#b38d7e',GradientType=0 ); /* IE6-9 */
}
.divider-black{
    margin: 10px auto;
    border:none;
    border-top:1px solid #000;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:100%;
}
.dot{
    /*    margin: 10px auto;
        width: 100%;
        height: 1px;
        background: rgb(255,255,255);  Old browsers 
        background: -moz-linear-gradient(left,  rgba(179,141,126,1) 0%, rgba(188,74,30,1) 50%, rgba(179,141,126,1) 100%);  FF3.6-15 
        background: -webkit-linear-gradient(left,  rgba(179,141,126,1) 0%,rgba(188,74,30,1) 50%,rgba(179,141,126,1) 100%);  Chrome10-25,Safari5.1-6 
        background: linear-gradient(to right,  rgba(179,141,126,1) 0%,rgba(188,74,30,1) 50%,rgba(179,141,126,1) 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b38d7e', endColorstr='#b38d7e',GradientType=0 );  IE6-9 */
    margin: 10px auto;
    border:none;
    border-top:1px dotted #000;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:100%;

}
.borderWhite{
    display: block;
    border-radius: 0px 0px 0px;
    border: 3px solid #fff;
}
.border-black{    
    border: 1px solid #959595;
}
.borderRadiusLiveTV{
    border-radius:10px;
    box-shadow: 5px 5px 5px #b9b8b8;
    -moz-box-shadow: 5px 5px 5px #b9b8b8;
    -webkit-box-shadow: 5px 5px 5px #b9b8b8;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 12px !important;
    color: #d16d46  !important;
    font-weight: bold;

}
.nameVOD{
    font-family: 'Roboto', sans-serif;
    font-size: 11px !important;
    color: #000  !important;
    font-weight: normal;
}
.cateVOD{
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 10px !important;
    color: #7d7b7b  !important;
    font-weight: normal;
}
.likeVOD{
    font-family: 'Roboto', sans-serif;
    font-size: 10px !important;
    color: #7d7b7b  !important;
    font-weight: normal;
}
.footer{
/*        text-align:center;
        background-color: #fff;
        height: 40px;*/
    position: absolute;
    bottom: -30px;
    width: 100%;
    height: 40px;
    background-color: #fff;
}
.footer .a2{
    font-family: 'Roboto', sans-serif;

    margin: 10px 0px 0px 0px;
    padding: 0px;
    text-align: right;
    font-size: 12px;
    color: #676464;
}
/*.col-xs-6{    
    padding: 5px !important;
    text-align: left;
    color: #8a8989;
}*/

.search{
    padding-left: 0px !important;     
}
.text-menu{
    font-family: 'Roboto', sans-serif;
    /*text-align: center;*/
    padding-top: 7px;
    padding-left: 2px;
    font-size: 16px;
}
.titleDropdown{    
    color: #d16d46;    
    background-color: transparent;
    border: 0px;
    text-align: right;
}
.color-title{
    font-family: 'Roboto', sans-serif;

    color: #d16d46;    
}
.myDatepicker{
    padding-right: 0px !important;
}
.ui-datepicker-trigger{
    position: absolute;
    right: 0px;
    padding: 10px;
    /*    display: inline;
        padding:0px;
        padding-left:3px;
        vertical-align:baseline;
        position:relative;*/
}
.img-wrapper {
    position: relative;
    width: 100%;
}

.img-overlay {
    position: absolute;
    /*top: 0;*/
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;

}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 33%;

}
.button-radius{
    border: 1px solid #fff;
    border-radius:16px;
    background-color: #d16d46;
    /*    box-shadow: 5px 5px 5px #b9b8b8;
        -moz-box-shadow: 5px 5px 5px #b9b8b8;
        -webkit-box-shadow: 5px 5px 5px #b9b8b8;*/
}

.bold{
    font-weight: bold;
    color: #000;
}
.nonePadding{
    padding: 0px;
}
/*.table tbody > tr > td.vert-align_td,
.table tbody > tr > th.vert-align_th {
   white-space: normal;
}*/
.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.padding1{
    padding: 7px;
}
.padding-right5{
    padding-right: 7px;
}

.text-menu div a:hover {
    background: #8f156c;
    color: #fff;
}
.btnCancel{
    padding: 0px 2px !important;

}
.btnBuy{
    padding: 0px 2px !important;
}
.text-nowrap {
    white-space: normal;
}
.no-margin{
    margin: 0px;
}
.bg-color-orange{
    background-color: #d16d46;
}
.selectParent{
    width:80px;
    overflow:hidden;


}

.selectParent select{
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    /*appearance: none;*/
    /*padding: 2px 2px 2px 2px;*/
    border: 1px;
    background: #fff url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 60px center;
}
