html {
    position: relative;
    min-height: 100%;
}
body {
    word-wrap: break-word;
    line-height: 1.5;
    width: 100%;
    overflow-x: hidden;
    display: block;
    margin: auto;
    padding: 0px;
    webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 14px;
    background-color: #d8d8d8; 
    font-family: 'Roboto', sans-serif;
    color: #000;    
}/*
.desktop{
    display: block;
}

.wrapper{
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;  Safari 
    -webkit-flex-direction: column;  Safari 6.1+ 
    -ms-flex-direction: column;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
}*/


/*.footer{
    padding-top: 10px;
    height: 60px;
    width: 100%;
    background-color: #42413D;
    font-size: 12px;
    color: #FFF;
}

.footer .a2{
    margin: 5px 0px 5px 0px;
    text-align: center;
    color: white;
}

.header{
    width: 100%;
    height: 25px;
    background-color: #2171af;
}*/



.top5 {
    margin-top: 5px;
}
.top10 {
    margin-top: 10px;
}
.top20 {
    margin-top: 20px;
}

.top30 {
    margin-top: 30px;
}

.top100 {
    margin-top: 100px;
}

.margin5 {
    margin: 5px 0px; 
}
.bottom100 {
    margin-bottom: 100px;
}

.inputSeach {
    border-radius: 16px;    
    height: 100%;
}
.arrow-heading {
    background-color: #d16d46; 
    /*width: 100%;*/
    height: 10px;
    border-radius: 0px;
    padding:0px 0px 10px 0px !important;

}

.img-center{
    margin: auto;

}
.noneBorder {
    border: 0px !important;
}
/*.product .img-responsive {
        float: none;

    margin: 0 auto;
}*/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/*.icon-account {
     background:url('../img/public_items/Account_icon.png') 0 0 no-repeat;
     height: 16px;
     line-height: 16px;
     width: 16px;
     }*/
.top-menu{
    height: 30px;

}
.menu_active{
    height: 100%;
    padding-top: 1px;
    vertical-align:middle;
    background-color: #d16d46;
}
.menu_inactive{
    height: 100%;
    padding:0px;
    vertical-align:middle;

    background-color: #1e5f91;
}
.menu_inactive a {
    font-family: Arial, Helvetica, sans-serif;
    /*font-size:18em;*/    
    color: #ffffff !important;
    padding: 0px;    
    text-decoration: none;            
}
.menu_active a {
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 18em;*/   
    /*margin-top: 4px;*/
    /*font-weight: bold;*/
    color: #ffffff !important;
    text-decoration: none
}


.top_search{
    background-color: #2171af;
}
/*.top_search_input{
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 1px;
    padding-right: 20px;
}*/
/*.vcenter {
    display: inline-block;
    vertical-align: baseline;
    float: none;
}*/
/*.title {
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px !important;
    color: #b5502a  !important;
    font-weight: normal;
}*/
.wrapper{
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    -ms-flex-direction: column;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
}